<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Typing Typhoon</title>
</head>

<body>
    <!-- Navigation bar to be shown on every page -->
    <nav class="navbar navbar-default navbar-fixed-top nav-bar-dec">
        <div class="container">
            <div class="row">
                <div class="col">
                	<!-- Profile -->
                    <a href="/user/profile" class="btn navbar-btn nav-bar-text pull-left">
                    <% if request.env['PATH_INFO'] == "/user/profile" || request.env['PATH_INFO'] == "/" || request.env['PATH_INFO'] == "/user/analytics"%>
                        <img src=<%= image_url('profile_active.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% else %>
                    	<img src=<%= image_url('profile.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% end %>
                    </a>
                    <!-- Test -->
                    <a href="/test" class="btn navbar-btn nav-bar-text pull-left">
                    <% if request.env['PATH_INFO'] == "/test/index" || request.env['PATH_INFO'] == "/test"%>
                        <img src=<%= image_url('test_active.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% else %>
                    	<img src=<%= image_url('test.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% end %>
                    </a>
                    <!-- Leaderboard  -->
                    <a href="/leaderboard/user_results" class="btn navbar-btn nav-bar-text pull-left">
                    <% if request.env['PATH_INFO'] == "/leaderboard/user_results" || request.env['PATH_INFO'] == "/leaderboard/top_results"%>
                        <img src=<%= image_url('leaderboard_active.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% else %>
                    	<img src=<%= image_url('leaderboard.png') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon">
                    <% end %>
                    </a>
                    <!-- Logo -->
                    <a href = "/" class="btn navbar-btn nav-bar-text brand">
                        <img src=<%= image_url('logo.png') %> alt="Near Me [active]" class="icon-default icon-relative brand-icon">
                        <img src=<%= image_url('cursor.gif') %> alt="Near Me [active]" class="icon-default icon-relative nav-icon cursor">
                    </a>
                    <!--  -->
                    <% if user_signed_in? %>
                    <a <%= link_to("Logout", destroy_user_session_path, :method => :delete, :class => 'btn navbar-btn nav-bar-text float-right logout-button')%></a>
                    <% end %>
                </div>
            </div>
        </div>
    </nav>


      <div class="container-fluid text-center" style="padding-bottom: 50px;">
        <div clas="row text-center">
            <div class="col text-center">
                <!--  -->
                <div class="form form-group" style="height: 100px; margin-top: 30px;">
                    <ul class="tab-group" style="margin-top: -20px;">
                        <li class="tab"><a href="/user/profile"><%= current_user.email.split("@").first.capitalize %></a></li>
                        <li class="tab active"><a href="/user/analytics">Analytics</a></li>
                    </ul>
                </div>
                <!--  -->
                <div class="text-center">
                    <div class="container" style="max-width: 635px; ">
                        <ul class="list-group center text-center">
                          <li class="list-group-item center-block" style="background-color: #49C9C4; border: 1px solid #FFFFFF;">
                                <div class="container-fluid center-block">
                                  <img src=<%= image_url('default-profile-white.png') %> alt="Near Me [active]" class="icon-default icon-relative" style="width: 200px;">
                                </div>
                          </li>
                            <li class="list-group-item center-block user-info-box">
                                <div class="container-fluid center-block">
                                  <h1 style="font-size: 22px;"> tests taken: <%= @num_of_tests %>  </h1>
                                </div>
                          </li>
                          <li class="list-group-item center-block user-info-box">
                                <div class="container-fluid center-block">
                                  <h1 style="font-size: 22px;"> average wpm: <%= @avg_wpm %> </h1>
                                </div>
                          </li>
                          <li class="list-group-item center-block user-info-box">
                                <div class="container-fluid center-block">
                                  <h1 style="font-size: 22px;"> average accuracy: <%= @avg_accr %> </h1>
                                </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</html>
